################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SillySeafoodWebApp/.vs/SillySeafoodWebApp/v15/Server/sqlite3
